/*estilo del header*/
.banner {
    position: relative;
    background-image: url(../images/banner-pizza.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top ; 
    border-bottom: solid;
    .logo {      
        position: relative;
         top: 0;
         left: 0;
         margin: 0.2rem;
         padding: 10px;
         border-radius: 3rem;
         border-style: double;  
         width: 100px;  
    }
    &_titulo{
        text-align: center;
        font-family: 'Permanent Marker', cursive;  
        color: $colorTitulo;
        font-size: 5rem;
    }
    &_slogan { 
        color: rgba(250, 1, 1, 0.95);
        background-color: rgba(250, 246, 1, 0.8);
        font-size: 3rem;
        font-family: 'Permanent Marker', cursive;   
    }
}
.logo{
    background-color: rgba(250, 246, 1, 0.8);
    border-color: black;
    min-width: 125px;
    &:hover{
        background: yellow;
        border-radius: 3rem;
        }
}
.navegador {  
    display: flex;
    color: rgba(3, 80, 61, 0.781);
    padding: 1rem;
    justify-content: flex-end;
    flex-flow: row nowrap;
    gap: 3rem 1.3rem; 
    li {
        list-style: none;
        font-family: 'Permanent Marker', cursive;
        border: solid;
        border-radius: 1rem;
        font-size: small;
        background-color: rgba(250, 246, 1, 0.904);
    }
    /*EFECTOS LINKS navegador*/
    a:link {
        color: black;
    }
    a:visited {
        color: rgba(17, 17, 17, 0.822);
    }
    a:hover {
        border-bottom: 0.1rem solid;
        background: yellow;
        border-radius: 1rem;
        }
    a:active {
        background: red;
        color: yellow;
        border-radius: 1rem;
    }
} 
.material-icons{
    font-family: 'Material Icons';
    font-weight: bold;
    font-style: normal;
    font-size: 42px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    border: solid;
    background-color: yellow;
    border-radius: 1rem;
}
.cerrar-menu{
    font-size: 1.1rem;
    background-color: red;
    border-radius: 1rem;
}

/*animando nombre de la pag. en HEADER*/
.banner_titulo {
    animation-duration: 3s;
    animation-name: move-titulo;
    animation-iteration-count: 1;
}
@keyframes move-titulo{
    0%{
        transform:rotate(0deg) scale(0.2);
    }
    25%{
        transform:rotate(720deg) scale(1);
    }
    50%{
        transform:rotate(0deg) scale(0.0);
    }
    75%{
        transform:rotate(180deg) scale(0.5);
    }
    100%{
        transform:scale(1);
    }
}

/* animando el slogan en HEADER*/
.banner_slogan {
    animation-duration: 8s;
    animation-name: aparece-slogan;
    animation-iteration-count: infinite;
}
@keyframes aparece-slogan {
    0% {
        opacity: 0.1;
    }
    10%{
        opacity: 1;
    }
    60%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 600px){
    /*header hasta 600px (menu hamburguesa)*/
    .navegador {
        display: none;
    }
    .banner {
        display: flex;
        flex-direction: column;
        &_slogan{ 
            font-size: 200%;
            text-align: center;
        }
        .burguer {
            text-align: center;
            font-size: 42px;
        }    
    }
    .logo {
        min-width: 75px;
        }
    #sidebar {
        background-color: rgba(247, 174, 38, 0.8);
        border-radius: 2rem;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 2s;
        z-index: 1000;
    }
    #sidebar:target{
        display: block;
        transform: translateX(-10%);
    }
    #sidebar.navegador{
        height: 12rem;
    }
}
@media screen and (max-width: 430px){
    #sidebar:target{
        transform: translateX(-5%);
    }
    .banner_titulo{
        font-size: 3rem;
    }
}
@media screen and (max-width: 330px){
    .banner_slogan{ 
        font-size: 150%;
        text-align: center;
    }
}
@media screen and (min-width: 601px){
    /* no mostrar en mayor a 600px*/
    .banner .burguer{
        display: none;
    }
    .cerrar-menu {
        display: none;
    }
}
@media screen and (min-width: 1024px){
    .banner_titulo{
        font-size: 9rem;
    }
}