/*estilo pag.REDES*/
.redes-main {
    margin: 2px;
    display: flex;
    div{
        text-align: center;
        background-color: $colorRedes;
        border-radius: 5rem;
        font-size: 1.5rem;
        margin-bottom: 3%;
    }
    h5{
        font-size: 1.1rem ;
        color: rgb(141, 7, 7);
    }
}
